@import '../index';

.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-duration: 0.3s;
  background-color: #000c;
  opacity: 0;
  pointer-events: none;
  z-index: 1000;

  &Content {
    min-width: 30vw;
    width: 100%;
    max-width: 50vw;
    padding: 20px;
    background-color: #fff;
    border-radius: 0.5rem;
    transform: scale(0.4);
    transition-duration: 0.3s;
    scale: 0.5;
  }

  &.active {
    opacity: 1;
    pointer-events: all;

    & .modalContent {
      transform: scale(1);
      scale: 1;
    }
  }

  &::after {
    cursor: pointer;
    content: 'X';
    color: #ccc;
    position: absolute;
    top: 20px;
    right: 20px;
  }
}
