@import '../index';

.root {
  display: block;
  border-radius: $border-radius;
  background-color: $primary;
  border: none;
  color: $gray-300;
  transition-duration: $animation-duration;
  cursor: pointer;
  padding: 8px 12px;

  &:hover {
    color: $white;
  }
}